body {
  width: 100%;
  height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.appContainer, .clock {
  display: block;
  width: 100%;
  height: 100%;
}

.clockBody {
  display: block;
  position: absolute;
  height: 60vh;
  top: 1rem;
  right: 40%;
  margin: 0 auto;
}

.clockTail {
  display: block;
  position: absolute;
  height: 40vh;
  right: 46%;
  bottom: 3.5rem;
  margin: 0 auto;
  z-index: -1;
}
